.ui-container {
  padding: 10px 20px 20px 20px;
  height: 100%;
  box-sizing: border-box;
}

.header {
  height: 3rem;
  text-align: center;
}

.search-bar {
  margin-bottom: 20px;
}

.elements-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; /* Space between items */
}

.element-box {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  /* text-align: center; */
}

.element-box .icon {
  margin-right: 10px; /* Space between icon and text */
}

.element-box .text {
  font-size: 12px;
}

.dropped-item-container {
  border-radius: 10px; /* Rounded corners for the dropped item container */
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}
